@page
@model FinanzasTaxista_View.Pages.Views.UsuariosViewModel
@{
    ViewData["Title"] = "Lista de Usuarios";
}



<table class="table">  
  <thead>  
      <tr>  
          <th>Id</th>  
          <th>Nombre Usuario</th>  
          <th>Apellido 1</th>  
          <th>Apellido 2</th>  
          <th>Correo Electrónico</th>  
          <th>Id Rol</th>  
          <th>Actions</th>  
      </tr>  
  </thead>  
  <tbody>
        @foreach (var user in Model._Usuarios)
        {  
          <tr>  
              <td>@user.Id</td>  
              <td>@user.nombre_usuario</td>  
              <td>@user.apellido1</td>  
              <td>@user.apellido2</td>  
              <td>@user.correo_electronico</td>  
              <td>@user.id_rol</td>  
              <td>  
                  <a class="btn btn-danger" asp-page="CRUD/UsersCRUD/Delete" asp-route-id="@user.Id" role="button">Delete</a>  
                  <a class="btn btn-success" asp-page="CRUD/UsersCRUD/Update" asp-route-id="@user.Id" role="button">Edit</a>  
              </td>  
          </tr>  
      }  
  </tbody>  
</table>
